<% layout('layouts/boilerplate') -%>
<div id="editBody">
  <h1 id="page-title">Edit Listing</h1>
  <form action="http://localhost:3000/listings/<%= listing._id %>?_method=PATCH" method="post">
      <div id="form-group-title" class="form-group">
          <label for="title" id="form-label-title">Title:</label>
          <input type="text" name="listing[title]" id="title" class="inpForm" value="<%= listing.title %>" required>
      </div>
      <div id="form-group-description" class="form-group">
          <label for="description" id="form-label-description">Description:</label>
          <textarea name="listing[description]" id="description" class="inpForm" rows="5" required><%= listing.description %></textarea>
      </div>
      <div id="form-group-image" class="form-group">
          <label for="image" id="form-label-image">Image URL:</label>
          <input type="text" name="listing[image.filename]" value="listingimage" style="display: none;">
          <input type="url" name="listing[image.url]" id="image" class="inpForm" value="<%= listing.image.url %>" required>
      </div>
      <div id="form-group-price" class="form-group">
          <label for="price" id="form-label-price">Price:</label>
          <input type="number" name="listing[price]" id="price" class="inpForm" min="0" value="<%= listing.price %>" required>
      </div>
      <div id="form-group-location" class="form-group">
          <label for="location" id="form-label-location">Location:</label>
          <input type="text" name="listing[location]" id="location" class="inpForm" value="<%= listing.location %>" required>
      </div>
      <div id="form-group-country" class="form-group">
          <label for="country" id="form-label-country">Country:</label>
          <select name="listing[country]" id="country" class="inpForm" required>
              <option selected value="<%= listing.country %>"><%= listing.country %></option>
              <%- include("../includes/countries.ejs") %>
          </select>
      </div>
      <div id="form-buttons">
        <button type="submit" id="form-button-update">Update Listing</button>
        <a href="http://localhost:3000/listings/<%= listing._id %>">
            <button type="button" id="form-button-cancel">Cancel</button>
        </a>
      </div>
  </form>
</div>
</body>
</html>
