<% layout('layouts/boilerplate') -%>
<div id="viewBody">
    <div id="container">
        <img id="viewImg" src="<%= listing.image.url %>" alt="">
        <br>
        <div id="about">
            <a href="http://localhost:3000/listings">
                <button id="close" class="red">x</button>
            </a>
            <br>
            <b>
                <span style="font-size: 30px; width: min-content;"><%= listing.title %></span>
            </b>
            <br>
            <br>
            <p><%= listing.description %></p>
            <br>
            <br>
            <b>Price : </b>&#8377;<i><%= listing.price.toLocaleString('en-IN'); %></i> / night
            <br>
            <br>
            <b>Location : </b><i><%= listing.location %></i>
            <br>
            <br>
            <b>Country : </b><i><%= listing.country %></i>
            <br>
            <br>
            <div id="btns">
                <a id="edit" class="btn an" href="http://localhost:3000/listings/<%= listing._id %>/edit">Edit</a>
                <button id="delete" class="btn red">Delete</button>
            </div>
        </div>
    </div>
    <form id="delReq" style="display: none;" method="post" action="http://localhost:3000/listings/<%= listing._id %>?_method=DELETE">
        <button class="delReq"></button>
    </form>          
</div>
</body>
</html>